@use 'variaveis';

.trilogy {
    &__tabs {
        margin-top: 70px;
        display: flex;
        justify-content: center;

        &__button {
            width: 300px;
            height: 60px;
            margin: 0 5px;
            font-size: 26px;
            background-color: transparent;
            border: none;
            border-bottom: 2px solid transparent;
            color: variaveis.$corNeutra;
            cursor: pointer;
            font-family: 'Macondo', cursive;

            &--is-active {
                border-bottom: 2px solid variaveis.$corBotaoHeader;
            }

            @media (max-width: 768px) {
                font-size: 20px;
            }
        }
    }

    &__board {
        display: none;
        grid-template-columns: 400px auto;
        gap: 46px;
        margin-top: 30px;

        &--is-active {
            display: grid;
        }

        @media (max-width: 767px) {
            &--is-active{
                display: block;
                padding: 0 16px;
            }
        }

        img {
            width: 100%;
            border-radius: 6px;
        }

        &__synopsis {
            background-color: variaveis.$fundoPapiro;
            padding: 24px;
            font-size: 16px;
            border-radius: 6px;

            h2, p {
                margin-bottom: 20px;
            }
        }
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        &__board {
            margin: 30px 16px;
            gap: 10px;
        }
    }
}