@use 'variaveis';
@use 'header';
@use 'hero';
@use 'trilogy';
@use 'director';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: variaveis.$corDeFundo;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
    font-family: 'Fjalla One', sans-serif;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

// effects
.fade-in { animation: fadeIn 1s; }

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}